article > div.gray-banner {
    display: flex;
    background: #3f3f3f3f url(./images/assets/gray_banner_bg.png);
    background-size: cover;
    background-opacity: 0.6;
    padding: 25px;
    /* justify-content: space-between; */
    gap: 50px;
}
article > div.gray-banner > div {
    width: 100%;
}
article > div.gray-banner > div.gray-banner-shirts {
    /*display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;*/
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    align-content: center;
    margin: 0px auto;
}
article > div.gray-banner > div.gray-banner-shirts > img {
    max-height: 250px; /* height: 250px; */ /* 30vh; */
}
article > div.gray-banner > div.gray-banner-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
    gap: 50px;
    font-family: "Roboto Slab", sans-serif;
    letter-spacing: 5px;
}
article > div.gray-banner > div.gray-banner-header > div > div.gray-banner-main-header {
    font-family: "College";
    text-transform: lowercase;
    font-size: min(90px, 15vw);
}
article > div.gray-banner > div.gray-banner-header > div > div.gray-banner-sub-header {
    font-family: "College";
    text-transform: lowercase;
    font-size: 24px;
    line-height: 1.1em;
}
article > div.gray-banner > div.gray-banner-header > div.gray-banner-header-order {
    background-color: #d9d9d9;
    color: black;
    border-radius: 63px;
    width: 270px;
    padding: 10px 20px;
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 0px;
    text-align: center;
    user-select: none;
    cursor: pointer;
}
article > div.gray-banner > div.gray-banner-header > div.gray-banner-header-order:hover {
    transform: scale(1.2);
    transition: transform 0.2s ease-in-out;
}
article {
    padding-bottom: 50px;
}
article > div.category-cards {
    display: flex;
    flex-direction: column;
    margin: 50px 20%;
}
article > div.category-cards * {
    font-family: "College";
    text-transform: lowercase;
}
article > div.category-cards > h1 {
    font-size: 40px;
    margin-bottom: 30px;
}
article > div.category-cards > div.category-card-items {
    display: flex;
    justify-content: center; /* space-between */
    gap: 50px;
}
article > div.category-cards > div.category-card-items > div.category-card-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #9d9d9d;
    width: 100%;
    border-radius: 50px;
    padding: 20px;
    transform: scale(1);
    transition: transform 0.2s ease-in-out;
}
article > div.category-cards > div.category-card-items > div.category-card-item:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}
article > div.category-cards > div.category-card-items > div.category-card-item:active {
    transform: scale(0.9);
    transition: transform 0.2s ease-in-out;
}
article > div.category-cards > div.category-card-items > div.category-card-item > img {
    width: 100%;
    max-height: 250px;
}
article > div.category-cards > div.category-card-items > div.category-card-item > div.category-card-item-text {
    font-size: 40px;
    color: black;
    text-align: center;
}

@media screen and (max-width: 967px) {
    article > div.gray-banner > div {
        width: unset;
    }
}
@media screen and (max-width: 440px) {
    header > nav > ul > li > a > img {
        height: 40px;
    }
    .gray-banner-sub-header {
        font-size: 30px !important;
    }
}

@media screen and (max-width: 660px) {
    article > div.gray-banner > div > div > div:not(.gray-banner-sub-header), article > div.main-header-text {
        /* font-size: 60px !important; */
        padding: 20px 0px !important;
    }
}